

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

ul, li {
    display: block;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    color: #fff;
    font-size: 38px;
}

h2 {
   font-size: 34px; 
   font-weight: 300;
}

.descrip {
    font-size: 14px;
}

.container {
    max-width: 960px !important;
}
/* header start */

header .container {
    height: 229px;
}

.menu-bar {
    background-color: #ebebeb;
    padding-top: 40px;
    font-size: 12px;
}

.menu-bar-link {
    color: #c7c7c7;
    border-right: 1px solid #c7c7c7;
}

.fa-map-marker {
    padding-left: 10px;
}

.menu-bar-select {
    color: #701dbb;
    border: 0;
    background-color: #ebebeb;
}

.menu-bar-search-win {
    width: 250px;
    padding: 17px;
    padding-right: 13px;
    border: 0;
    height: 50px;
    color: #959595;
}

.menu-bar-search-but {
    background: url(../img/clock1.png) no-repeat center;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border: 0;
}


.menu a, i {
    color: #707070;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    display: block;
    font-weight: 600;
}

.menu i {
    padding-bottom: 17px;
}

.menu {
     box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.16);
     background-color: #8038c2;
}

.absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13px;
}

.menu-item {
    background: linear-gradient(to top, #e5e5e5, #fff);
    box-shadow: inset 0 -5px 0 rgba(128, 56, 194, 1);
    border-right: 1px solid #d4d4d4;
    text-align: center;
    /* transition: transform 0.4s, box-shadow 0.4s; */
    position: relative;
}

.menu-item a {
    position: relative;
    z-index: 12;
    transition: 0.5s color;
}

.menu-item:hover a,
.menu-item:hover i {
    color: #8038c2;
    text-decoration: none;
}

.menu-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #e5e5e5, #fff);
    transition: 0.3s left, 0.3s top, 0.3s right;
    z-index: 10;
    box-shadow: inset 0 -5px 0 rgba(128, 56, 194, 1);
}

.menu-item:hover::after {
    left:-10px;
    top:-10px;
    right:-10px;
    z-index:11;
    box-shadow: 0 0 10px rgba(0,0,0,0.16), inset 0 -10px 0 rgba(128, 56, 194, 1);
    background: #fff;

}

.menu-item:last-child {
    border-right: none;
}

/* .menu-item:hover {
    background-color: #fff;
    transform-origin: center bottom;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scaleY(1.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.16);
    box-shadow: inset 0 -10px 0 rgba(128, 56, 194, 1);
}
 */

/* intro start */

.intro {
    background: url('../img/header.jpg') no-repeat center;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 90px;
}

.intro-desc {
    text-align: center;
}

.intro-title {
    line-height: 1.5;
    padding-top: 25px;
}

.intro-text {
    color: #fff;
    font-size: 20px;
}


.intro-link:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255,255,255,0.36);
}

.intro-pic {
    transition: all 0.4s;
    border-radius: 50%;
}


/* tagline start */

.tagline {
    background: #2d2d2d;
    padding-top: 45px;
    padding-bottom: 75px;
    color: #fff;
    text-align: center;
}


.tagline-text {
    color: #a161db;

}

.tagline-item-pic {
    width: 90px;
    height: 90px;
    position: relative;
    margin-bottom: 45px;
}

.tagline-item-pic img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.tagline-cards div .tagline-item-pic::after {
    content: "";
    display: inline-block;
    width: 140px;
    height: 3px;
    background: #6d6d6d;
    position: absolute;
    top: 50%;
    left: 150%;
}

.tagline-cards div:last-child .tagline-item-pic::after {
    content: "";
    display: none;
} 

.tagline-item-title {
    text-align: left;
    font-weight: 300;
    margin-bottom: 15px;
}

.tagline-item-text {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-align: left;
    line-height: 1.8;
}

/* tablet start */

.tablet {
    background: #222;
    /* url('../img/tablet.png') no-repeat center bottom; */
    /* max-height: 525px; */
}

.tablet-bg {
    text-align: center;
    padding-top: 55px;
}

.tablet-desc {
    bottom: 0;
}

.tablet-desc .col-lg-8 {
    text-align: center;
    padding-bottom: 6%;
}

/* team start */

.team {
    height: 500px;
}


.tablet-title {
    color: #fff;
}
.tablet-text {
    color: #a161db;
    text-shadow: 0 1px 2px #000000b0;
}